<h1>Listing categories of Doctors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Has sub categories</th>
    <th></th>
  </tr>

<% @categories_ds.each do |categories_d| %>
  <tr>
    <td><%= categories_d.name %></td>
    <td><%= categories_d.sub_categories_ds.name  %></td>
    <td><%= link_to 'Show', categories_d %></td>
    <td><%= link_to 'Edit', edit_categories_d_path(categories_d) %></td>
    <td><%= link_to 'Destroy', categories_d, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Categories', new_categories_d_path %>