<div class="reg">
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label       :email %><br />
  <%= f.email_field    :email %></p>

  <p><%= f.label       :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label       :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>
  
  <p><%= f.label       :Select_Role %></p>
     <% for role in Role.find(2,3,4) %>
         
           <%= radio_button_tag "user[role_ids][]",role.id, @user.roles.include?(role) %>
              <%= role.name %>
         
     <% end %>
  <p><%= f.submit "Next Step" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
