<p>Dear <%= @enquiry.user_email %></p>
<p><%= @enquiry.name %> has enquired about you.</p>
Here is the information regarding <%= @enquiry.name %>.
<p>Email Address: <%= @enquiry.email %></p>
<p>Phone Number:  <%= @enquiry.phone_no %></p>
<p>Message:       <%= @enquiry.message %></p>
  
