<h1>Patient Profile</h1>
<p><b>Name:</b>
<%= @patient.name %>
</p>
<b>Phone Number:</b>
<%= @patient.phone %>
</p></br>
<p><b>Address:</b></br>
	<%= @patient.address_line_1 %></br>
	<%= @patient.address_line_2 %></br>
	<%= @patient.address_line_3 %></br>
</p></br>
<b>Suffering From:</b>
<%= @patient.suffering_from %>
</p>