     <% for allergy in @patient.allergies %>
  <p>
  	<h3>Allergies</h3>
  <b>Allergic to:</b>
     <%= h allergy.allergic %>
  </p>
  <p>
  <b>Affect:</b>
     <%= h allergy.affect %>
  </p>
  <p>
  <b>Started:</b>
     <%= h allergy.satrted %>
  </p>
  <p>
  <b>Ended:</b>
     <%= h allergy.ended %>
  </p>
  <p>
  <b>Severity:</b>
     <%= h allergy.severity %>
  </p>
  <p>
  <b>Journal Entry:</b>
     <%= h allergy.journal_entry %>
  </p>
  <% end %>