<% for p in @patient.problems%>
<h3>Problems</h3>
<p>
<b>Symptom</b>
<%= h p.symptom %>
</p>
<p>
<b>Problem</b>
<%= h p.problem %>
</p>
<p>
<b>Started:</b>
<%= h p.started %>
</p>
<p>
<b>Ended:</b>
<%= h p.ended %>
</p>
<p>
<b>Journal Entry:</b>
<%= h p.journal_entry %>
</p>
<% end %>