<%= form_for(@hospital) do |f| %>


<p>
<%= f.label :name %><br />
<%= f.text_field :name %>
</p>
<p>
<%= f.label :address %><br />
<%= f.text_field :address_line_1 %><br />
<%= f.text_field :address_line_2 %><br />
<%= f.text_field :address_line_3 %><br />
</p>

<p>
<%= f.label :emergency_services %><br />
<%= f.text_field :emergency_services%>
</p>
<p>
<%= f.label :ambulance_contact %><br />
<%= f.text_field :ambulance_contact %>
</p>
<p>
<%= f.label :pharmacy_details %><br />
<%= f.text_field :pharmacy_details %>
</p>

<p>
<%= f.label :no_of_private_rooms %><br />
<%= f.text_field :no_of_private_rooms %>
</p>
<p>
<%= f.label :no_of_wards %><br />
<%= f.text_field :no_of_wards %>
</p> 
<p>
<%= f.label :specialities %><br />
<%= f.text_field :specialities %>
</p>
<p>
<%= f.label :doctor_list%><br />
<%= f.text_field :doctor_list %>
</p>
<%= f.hidden_field :user_id, :value => current_user.id %>
<p>
<%= f.submit "Create" %>
</p>
<% end %>