<h1>Hospital <%= @hospital.name %></h1>
<p>
<b>Name:</b>
<%= @hospital.name %>
</p>
<p><b>Address:</b>
	<%= @hospital.address_line_1 %></br>
	<%= @hospital.address_line_2 %></br>
	<%= @hospital.address_line_3 %></br>
</p>
<p><b>Emergency Services:</b>
	<%= @hospital.emergency_services %>
</p>
<p><b>Ambulance Contact:</b>
	<%= @hospital.ambulance_contact %>
</p>
<p><b>Pharmacy Details:</b>
	<%= @hospital.pharmacy_details %>
</p>
<p><b>Number Of Private Rooms:</b>
	<%= @hospital.no_of_private_rooms %>
</p>
<p><b>Number of Wards:</b>
	<%= @hospital.no_of_wards %>
</p>
<p><b>Specialities:</b>
	<%= @hospital.specialities %>
</p>
<p><b>Doctor List:</b>
	<%= @hospital.doctor_list %>
</p>
<%= render "enquiries/enq" , :object => @hospital %>