<h1>Enquire <% if @vaidya.nil? %>
	        <%= @hospital.name %> 
	        <% elsif @hospital.nil? %>
	        <%= @vaidya.name %>
	        <% end %> </h1>

<%= form_for(@enquiry) do |f| %>
<p>
<%= f.label        :Your_Name %><br />
<%= f.text_field   :name %>
</p>
<p>
<%= f.label        :email %><br />
<%= f.text_field   :email %>
</p>
<p>
<%= f.label        :phone_no %><br />
<%= f.text_field   :phone_no %>
</p>
<p>
<%= f.label        :message %><br />
<%= f.text_area    :message %>
</p>
<% if @vaidya.nil? %>
<%= f.hidden_field :hospital_id, :value => @hospital.user_id %>
<%= f.hidden_field :user_email, :value => @hospital.user.email %>
<% elsif @hospital.nil? %>
<%= f.hidden_field :vaidya_id, :value => @vaidya.user_id %>
<%= f.hidden_field :user_email, :value => @vaidya.user.email %>
<% end %>
<p><%= f.submit "Submit Your Enquiry" %></p>
<% end %>